div
    canvas(
        id="line" class="chart chart-line"
        chart-data="data"
        chart-labels="labels"
        chart-series="series"
        chart-options="options"
        chart-dataset-override="datasetOverride"
        chart-colors="colors"
        chart-click="onClick"
    )
    chart-tooltip( ng-if="!custom && options.tooltips.custom" tooltip-data="options.tooltips" )