mixin input( label, name, placeholder, require, type, msg )

    - var id  = label.replace(' ', '').toLowerCase();
    - var type = type ? type : 'text';
    - var formPattern = "form." + attributes.name + ".$error.pattern"
    - var menssagePattern = attributes.message    



    div.form-group.act-input
        +headerInput( id,label, require )
        input.form-control.input-uppercase(
            id=id
            min != attributes.min,
            max != attributes.max,
            ng-init != attributes.init,
            name != attributes.name,
            placeholder=placeholder
            type=type
            autofocus!=attributes.autofocus
            ng-required!=attributes.ngRequire
            ng-model!=attributes.model
            ng-pattern != attributes.pattern
            ng-change != attributes.ngChange
            ng-keyup!=attributes.ngKeyup
            ng-maxlength!=attributes.ngMaxLength
            maxlength!= attributes.maxlength
            format!= attributes.format
            autocomplete!= attributes.autocomplete
            uib-typeahead!=attributes.typeahead
            onkeypress!=attributes.onkeypress
            ng-if!=attributes.ngIf
            mask!=attributes.mask
            masks!=attributes.masks
            restrict!=attributes.restrict
            ng-step!=attributes.ngStep
            step!=attributes.step
            ng-disabled!=attributes.ngDisabled
            ng-blur!=attributes.ngBlur
            ng-readonly!=attributes.ngReadonly 
            ng-currency!=attributes.isCurrency
        )
        div.message(ng-if=formPattern)
            b=menssagePattern

mixin inputWithIcon()

    - var id  = attributes.label.replace(' ', '').toLowerCase()
    - var type = attributes.type || 'text'
    - var style_class = 'form-control ' + attributes.icon_class
    - var formPattern = "form." + attributes.name + ".$error.pattern"
    - var menssagePattern = attributes.message

    div.form-group.has-icon.act-input
        unless attributes.tooltip
            +headerInput( id, attributes.label, attributes.require )
        else
            +headerInputTooltip( id, attributes.label, attributes.tooltip )
        div.input-wrapper
            input(
                class = style_class,
                type = type,
                placeholder != attributes.placeholder,
                id = id,
                name != attributes.name,
                ng-required != attributes.require,
                ng-model != attributes.model,
                ng-pattern != attributes.pattern
                ng-change != attributes.ngChange
                autocomplete!= attributes.autocomplete
            )
            i(
                class!=attributes.faIcon
            )
            div.message(ng-if=formPattern)
                b=menssagePattern


mixin headerInput( id, label, require )
    label( for=id )=label
        if require
            span.require *

mixin headerInputTooltip( id, label, tooltip_info )

    - var placement = tooltip_info.placement || 'right';
    - var text = tooltip_info;
    - var tooltip = tooltip_info.class || 'form-tooltip';

    label( for=id )=label
        if text
            span.tip( tooltip-placement=placement uib-tooltip=text tooltip-class=tooltip )
                img( src="img/icons/pregunta.svg" alt="Ayuda" )



mixin inputDate( model, name, format )
    - var _format = format || "dd/MM/yyyy";
    input(
        ng-init="" + model + "= $root.getTodayDate"
        readonly="readonly"
        id=name
        name=name
        type="text"
        class="form-control"
        uib-datepicker-popup=_format
        ng-model=model
        ng-required="true"
        close-text="Close"
        alt-input-formats="altInputFormats"
        ng-focus =attributes.ngMouseOpen + "= true"
        show-button-bar="false"
        ng-disabled != attributes.disabled
        is-open !=attributes.ngMouseOpen
        datepicker-options != attributes.datepickerOptions
        ng-change != attributes.ngChange
    )
    i( style="width:15px;height15px;" ng-click=attributes.ngMouseOpen + "= true" )
        svg(width='15px', height='15px', viewbox='0 0 26 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
            title calendar (2)
            desc Created with Sketch.
            defs
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#PROSPECTOS05-SIN_Actividad-Copy-2(transform='translate(-629.000000, -439.000000)', stroke='#B4B4B4', fill-rule='nonzero', fill='#B4B4B4')
                    g#POPOP-Copy(transform='translate(98.000000, 80.000000)')
                        g#DATOS-PROSPECTO(transform='translate(44.000000, 75.000000)')
                            g#fecha-cierre-copy(transform='translate(272.000000, 266.000000)')
                                g(id='calendar-(2)', transform='translate(216.000000, 18.000000)')
                                    g#Group
                                        path#Shape(d='M22.1448141,1.52051836 L19.8669276,1.52051836 L19.8669276,0.35637149 C19.8669276,0.159559395 19.7092133,0 19.5146771,0 C19.3201409,0 19.1624266,0.159559395 19.1624266,0.35637149 L19.1624266,1.52051836 L16.109589,1.52051836 L16.109589,0.35637149 C16.109589,0.159559395 15.9518748,0 15.7573386,0 C15.5628023,0 15.4050881,0.159559395 15.4050881,0.35637149 L15.4050881,1.52051836 L12.3522505,1.52051836 L12.3522505,0.35637149 C12.3522505,0.159559395 12.1945362,0 12,0 C11.8054638,0 11.6477495,0.159559395 11.6477495,0.35637149 L11.6477495,1.52051836 L8.59491194,1.52051836 L8.59491194,0.35637149 C8.59491194,0.159559395 8.43719765,0 8.24266145,0 C8.04812524,0 7.89041096,0.159559395 7.89041096,0.35637149 L7.89041096,1.52051836 L4.83757339,1.52051836 L4.83757339,0.35637149 C4.83757339,0.159559395 4.6798591,0 4.4853229,0 C4.29078669,0 4.13307241,0.159559395 4.13307241,0.35637149 L4.13307241,1.52051836 L1.85518591,1.52051836 C0.832250489,1.52051836 0,2.3625054 0,3.39740821 L0,20.1231102 C0,21.158013 0.832250489,22 1.85518591,22 L22.1448141,22 C23.1677495,22 24,21.158013 24,20.1231102 L24,3.39740821 C24,2.3625054 23.1677495,1.52051836 22.1448141,1.52051836 Z M23.295499,20.1231102 C23.295499,20.7650065 22.7792877,21.287257 22.1448141,21.287257 L1.85518591,21.287257 C1.22071233,21.287257 0.704500978,20.7650065 0.704500978,20.1231102 L0.704500978,3.39740821 C0.704500978,2.75551188 1.22071233,2.23326134 1.85518591,2.23326134 L4.13307241,2.23326134 L4.13307241,3.39740821 C4.13307241,3.5942203 4.29078669,3.7537797 4.4853229,3.7537797 C4.6798591,3.7537797 4.83757339,3.5942203 4.83757339,3.39740821 L4.83757339,2.23326134 L7.89041096,2.23326134 L7.89041096,3.39740821 C7.89041096,3.5942203 8.04812524,3.7537797 8.24266145,3.7537797 C8.43719765,3.7537797 8.59491194,3.5942203 8.59491194,3.39740821 L8.59491194,2.23326134 L11.6477495,2.23326134 L11.6477495,3.39740821 C11.6477495,3.5942203 11.8054638,3.7537797 12,3.7537797 C12.1945362,3.7537797 12.3522505,3.5942203 12.3522505,3.39740821 L12.3522505,2.23326134 L15.4050881,2.23326134 L15.4050881,3.39740821 C15.4050881,3.5942203 15.5628023,3.7537797 15.7573386,3.7537797 C15.9518748,3.7537797 16.109589,3.5942203 16.109589,3.39740821 L16.109589,2.23326134 L19.1624266,2.23326134 L19.1624266,3.39740821 C19.1624266,3.5942203 19.3201409,3.7537797 19.5146771,3.7537797 C19.7092133,3.7537797 19.8669276,3.5942203 19.8669276,3.39740821 L19.8669276,2.23326134 L22.1448141,2.23326134 C22.7792877,2.23326134 23.295499,2.75551188 23.295499,3.39740821 L23.295499,20.1231102 Z', stroke-width='0.2')
                                        path#Shape(d='M22.1448141,5.32181425 L1.85518591,5.32181425 C1.66064971,5.32181425 1.50293542,5.48137365 1.50293542,5.67818575 C1.50293542,5.87499784 1.66064971,6.03455724 1.85518591,6.03455724 L22.1448141,6.03455724 C22.3393503,6.03455724 22.4970646,5.87499784 22.4970646,5.67818575 C22.4970646,5.48137365 22.3393503,5.32181425 22.1448141,5.32181425 Z', stroke-width='0.3')
                                        path#Shape(d='M18.138411,9.60763283 L10.7793346,17.0527559 C10.6236869,17.2101771 10.3704423,17.2101771 10.2147476,17.0527559 L6.61300978,13.4088812 C6.47544423,13.2697063 6.25239922,13.2697063 6.11488063,13.4088812 C5.97731507,13.5480562 5.97731507,13.7737106 6.11488063,13.912838 L9.7166184,17.5567127 C9.92505675,17.7675896 10.2022074,17.8837667 10.4970646,17.8837667 C10.7919217,17.8837667 11.0690254,17.7676371 11.2775108,17.5567127 L18.6365871,10.1115421 C18.7741526,9.97236717 18.7741526,9.74671274 18.6365871,9.60758531 C18.4990215,9.46845788 18.2759295,9.46845788 18.138411,9.60763283 Z', stroke-width='0.3')

mixin inputDate2( model, name, format )
    - var _format = format || "dd/MM/yyyy";
    input(
        ng-init=""
        placeholder="dd/mm/aaaa"
        readonly="readonly"
        id=name
        name=name
        type="text"
        class="form-control"
        uib-datepicker-popup=_format
        ng-model=model
        ng-required="true"
        close-text="Close"
        alt-input-formats="altInputFormats"
        ng-focus =attributes.ngMouseOpen + "= true"
        show-button-bar="false"
        ng-disabled != attributes.disabled
        is-open !=attributes.ngMouseOpen
        datepicker-options != attributes.datepickerOptions
        ng-change != attributes.ngChange
    )
    i( style="width:15px;height15px;" ng-click=attributes.ngMouseOpen + "= true" )
        svg(width='15px', height='15px', viewbox='0 0 26 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
            title calendar (2)
            desc Created with Sketch.
            defs
            g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#PROSPECTOS05-SIN_Actividad-Copy-2(transform='translate(-629.000000, -439.000000)', stroke='#B4B4B4', fill-rule='nonzero', fill='#B4B4B4')
                    g#POPOP-Copy(transform='translate(98.000000, 80.000000)')
                        g#DATOS-PROSPECTO(transform='translate(44.000000, 75.000000)')
                            g#fecha-cierre-copy(transform='translate(272.000000, 266.000000)')
                                g(id='calendar-(2)', transform='translate(216.000000, 18.000000)')
                                    g#Group
                                        path#Shape(d='M22.1448141,1.52051836 L19.8669276,1.52051836 L19.8669276,0.35637149 C19.8669276,0.159559395 19.7092133,0 19.5146771,0 C19.3201409,0 19.1624266,0.159559395 19.1624266,0.35637149 L19.1624266,1.52051836 L16.109589,1.52051836 L16.109589,0.35637149 C16.109589,0.159559395 15.9518748,0 15.7573386,0 C15.5628023,0 15.4050881,0.159559395 15.4050881,0.35637149 L15.4050881,1.52051836 L12.3522505,1.52051836 L12.3522505,0.35637149 C12.3522505,0.159559395 12.1945362,0 12,0 C11.8054638,0 11.6477495,0.159559395 11.6477495,0.35637149 L11.6477495,1.52051836 L8.59491194,1.52051836 L8.59491194,0.35637149 C8.59491194,0.159559395 8.43719765,0 8.24266145,0 C8.04812524,0 7.89041096,0.159559395 7.89041096,0.35637149 L7.89041096,1.52051836 L4.83757339,1.52051836 L4.83757339,0.35637149 C4.83757339,0.159559395 4.6798591,0 4.4853229,0 C4.29078669,0 4.13307241,0.159559395 4.13307241,0.35637149 L4.13307241,1.52051836 L1.85518591,1.52051836 C0.832250489,1.52051836 0,2.3625054 0,3.39740821 L0,20.1231102 C0,21.158013 0.832250489,22 1.85518591,22 L22.1448141,22 C23.1677495,22 24,21.158013 24,20.1231102 L24,3.39740821 C24,2.3625054 23.1677495,1.52051836 22.1448141,1.52051836 Z M23.295499,20.1231102 C23.295499,20.7650065 22.7792877,21.287257 22.1448141,21.287257 L1.85518591,21.287257 C1.22071233,21.287257 0.704500978,20.7650065 0.704500978,20.1231102 L0.704500978,3.39740821 C0.704500978,2.75551188 1.22071233,2.23326134 1.85518591,2.23326134 L4.13307241,2.23326134 L4.13307241,3.39740821 C4.13307241,3.5942203 4.29078669,3.7537797 4.4853229,3.7537797 C4.6798591,3.7537797 4.83757339,3.5942203 4.83757339,3.39740821 L4.83757339,2.23326134 L7.89041096,2.23326134 L7.89041096,3.39740821 C7.89041096,3.5942203 8.04812524,3.7537797 8.24266145,3.7537797 C8.43719765,3.7537797 8.59491194,3.5942203 8.59491194,3.39740821 L8.59491194,2.23326134 L11.6477495,2.23326134 L11.6477495,3.39740821 C11.6477495,3.5942203 11.8054638,3.7537797 12,3.7537797 C12.1945362,3.7537797 12.3522505,3.5942203 12.3522505,3.39740821 L12.3522505,2.23326134 L15.4050881,2.23326134 L15.4050881,3.39740821 C15.4050881,3.5942203 15.5628023,3.7537797 15.7573386,3.7537797 C15.9518748,3.7537797 16.109589,3.5942203 16.109589,3.39740821 L16.109589,2.23326134 L19.1624266,2.23326134 L19.1624266,3.39740821 C19.1624266,3.5942203 19.3201409,3.7537797 19.5146771,3.7537797 C19.7092133,3.7537797 19.8669276,3.5942203 19.8669276,3.39740821 L19.8669276,2.23326134 L22.1448141,2.23326134 C22.7792877,2.23326134 23.295499,2.75551188 23.295499,3.39740821 L23.295499,20.1231102 Z', stroke-width='0.2')
                                        path#Shape(d='M22.1448141,5.32181425 L1.85518591,5.32181425 C1.66064971,5.32181425 1.50293542,5.48137365 1.50293542,5.67818575 C1.50293542,5.87499784 1.66064971,6.03455724 1.85518591,6.03455724 L22.1448141,6.03455724 C22.3393503,6.03455724 22.4970646,5.87499784 22.4970646,5.67818575 C22.4970646,5.48137365 22.3393503,5.32181425 22.1448141,5.32181425 Z', stroke-width='0.3')
                                        path#Shape(d='M18.138411,9.60763283 L10.7793346,17.0527559 C10.6236869,17.2101771 10.3704423,17.2101771 10.2147476,17.0527559 L6.61300978,13.4088812 C6.47544423,13.2697063 6.25239922,13.2697063 6.11488063,13.4088812 C5.97731507,13.5480562 5.97731507,13.7737106 6.11488063,13.912838 L9.7166184,17.5567127 C9.92505675,17.7675896 10.2022074,17.8837667 10.4970646,17.8837667 C10.7919217,17.8837667 11.0690254,17.7676371 11.2775108,17.5567127 L18.6365871,10.1115421 C18.7741526,9.97236717 18.7741526,9.74671274 18.6365871,9.60758531 C18.4990215,9.46845788 18.2759295,9.46845788 18.138411,9.60763283 Z', stroke-width='0.3')