div
    img.icon(
        src="img/icons/calendar/ico_cerrar.svg", 
        alt="", 
        align="right"
        ng-click="close()"
        width="20"
        style="margin-bottom:15px;"
    )


iframe( width="100%" height="315" src="{{trustSrc(url)}}" style="margin-bottom:15px;")
