div.datetime.form-group.act-input.has-icon
    label( for="actividad")
        | {{ title }}
        span.require( ng-if="required" ) *
    div(style="position:relative" ng-if="maskInput")
        input( type="text"
            class="form-control"
            ng-model="modelInput.value"
            placeholder="{{ type == 'HH' ?  '00:00' : '00:00 - 00:00'}}"
            ng-required="required"
            mask="{{maskInput}}"
            id="dateTime12"
        )
        i(
            popover-class="datetime-picker"
            popover-placement="bottom-right"
            popover-trigger="'outsideClick'"
            uib-popover-template="'/scripts/directives/datetime/tooltip.html'"
        )
            svg(width='21px', height='20px', viewbox='0 0 21 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                // Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch
                title Group
                desc Created with Sketch.
                defs
                g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#PROSPECTOS07-Copy-6(transform='translate(-901.000000, -547.000000)', stroke='#B4B4B4', stroke-width='0.2', fill='#B4B4B4', fill-rule='nonzero')
                        g#POPOP-Copy(transform='translate(98.000000, 80.000000)')
                            g#actividad(transform='translate(24.000000, 407.000000)')
                                g#tiempo(transform='translate(563.000000, 40.000000)')
                                    g#Group(transform='translate(217.000000, 20.000000)')
                                        path#Shape(d='M9.8245614,0.127073684 C4.40277193,0.127073684 0,4.52986316 0,9.95164912 C0,15.3733684 4.40277193,19.7762105 9.8245614,19.7762105 C15.2463509,19.7762105 19.6491228,15.3733684 19.6491228,9.95164912 C19.6491228,4.52986316 15.2463509,0.127073684 9.8245614,0.127073684 Z M9.8245614,0.82882807 C14.8670877,0.82882807 18.9473684,4.9091193 18.9473684,9.95164912 C18.9473684,14.9941053 14.8670877,19.0744561 9.8245614,19.0744561 C4.78203509,19.0744561 0.701754386,14.9941053 0.701754386,9.95164912 C0.701754386,4.9091193 4.78203509,0.82882807 9.8245614,0.82882807 Z M9.8245614,3.63584561 C9.63077193,3.63584561 9.47368421,3.79293333 9.47368421,3.98672281 L9.47368421,9.95164912 C9.47368421,10.0485263 9.50891228,10.1403509 9.57238596,10.2038246 L13.3004561,13.9209474 C13.4374386,14.0579649 13.6568421,14.0579649 13.7938596,13.9209474 C13.9309123,13.7839298 13.9309123,13.5645614 13.7938596,13.4275088 L10.1754386,9.79814035 L10.1754386,3.98672281 C10.1754386,3.79293333 10.0183509,3.63584561 9.8245614,3.63584561 Z')
