include /views/mixins/buttons
include /views/mixins/input
include /views/mixins/info-result
include /views/mixins/radio-button

form.form-inline
    .row
            .col-lg-4
                .form-group
                    input.form-control(type='text', ng-model='poCtrl.searchPO', placeholder='Buscar')
            .col-md-6
                div.filters
                    .form-group
                        label.act-radio-custom(permission="['asesores.OperacionesPendientesMenu.Asesor.']" )
                            input( type="radio"   value="1"    ng-model="poCtrl.selectFilter" ng-change='poCtrl.getAsesoresFilter(1)' )
                            span.css-label
                            | Propias
                        label.act-radio-custom( permission="['asesores.OperacionesPendientesMenu.CentroFinanciero.']" )
                            input( type="radio"   value="2"    ng-model="poCtrl.selectFilter" ng-change='poCtrl.getCfFilter(2)' )
                            span.css-label
                            | Centro Financiero
                        label.act-radio-custom( permission="['asesores.OperacionesPendientesMenu.Cat.']")
                            input( type="radio"  value="3"  ng-model="poCtrl.selectFilter" ng-change='poCtrl.getCatFilter(3)' )
                            span.css-label
                            | CAT
            col-md-2
                button.btn.btn-primary(ng-if="poCtrl.primero" id="primero", ng-click="poCtrl.preview()", ng-disabled="poCtrl.pendingOp.length === 0"  ) Generar Reporte
                button.btn(ng-if="!poCtrl.primero" id="segundo", pdf-save-button='idPrintOp', pdf-name='operacionesPendientes.pdf',class='btn-primary save', ng-disabled="poCtrl.pendingOp.length === 0") Generar Reporte
    br
    div(pdf-save-content='idPrintOp')
        table.table.result
            thead
                tr
                    th
                        input(
                            type="checkbox"
                            ng-model="poCtrl.selectAll",
                            ng-click="poCtrl.checkAll()"
                        )
                    th( ng-repeat="column in poCtrl.columns" ) {{ column.value }}
                    th
            tbody
                tr(
                    dir-paginate-start="po in poCtrl.pendingOp | filter:poCtrl.searchPO | itemsPerPage : poCtrl.pageSize"
                    current-page="poCtrl.currentPage"
                )
                    td
                        input(
                            type="checkbox"
                            ng-model="poCtrl.modeIdPo[po.key]",
                            ng-disabled="poCtrl.disabled && !poCtrl.modeIdPo[po.key]",
                            ng-click="poCtrl.selectPo(po.operationID,po.moduleDescription.description)"
                        )
                    td {{ po.operationID }}
                    td {{ po.statusID }}
                    td {{ po.moduleDescription.description }}
                    td {{ po.registrationDate.timestamp | date : 'dd-MM-yyyy HH:mm:ss' : timezone }}
                    td( ng-click="poCtrl.showDetail(po.key)" )
                        i.fa( aria-hidden='true' ng-class="{'fa-plus-circle': !po.show, 'fa-minus-circle': po.show}" )
                tr(ng-if='po.show', dir-paginate-end)
                    td(colspan='7', style='background-color: #fff;')
                        div(style='padding-top:20px')
                            table.table(style='background-color: #eafbff;')
                                tr( style="font-size:11px;font-weight:900;background-color:#c4f5ff;" )
                                    th(ng-repeat='(key,val) in po.operation') {{key}}
                                tr
                                    td(ng-repeat='(key,val) in po.operation', style='font-size: 11px;')
                                        div(ng-if="key != 'Monto' && key != 'Limite Mensual' && key != 'Limite Diario'")
                                            div(ng-if="val != ''")
                                                span {{val}}
                                        div(ng-if="key == 'Monto' || key == 'Limite Mensual' || key == 'Limite Diario'")
                                            div(ng-if="val != ''")
                                                span {{val}} | currency}}
div(ng-if="poCtrl.data")              
    td(colspan="7")
        // No results
        +noGeneralResults( 'No cuentas', ' con operaciones pendientes.' )
div
    .text-center
        dir-pagination-controls(boundary-links='true', template-url='/scripts/paginator/paginator.html')
.navbar.navbar-default.navbar-fixed-bottom(ng-if='poCtrl.po.length > 0', style='min-height: 71px !important;background-color: #051C49;padding: 20px;')
    .container
        .row
            .col-lg-6.col-md-6.margin-l-top
                h4(style='color: white;') Elementos seleccionados: {{poCtrl.po.length}}
            .col-lg-6.col-md-6.margin-l-top.text-right
                button.btn.btn-default.btn-round.btn-sm(ng-click='poCtrl.removeItemsPo()') Cancelar
                button.btn.btn-danger.btn-round.btn-sm(ng-click="poCtrl.sendOperation('reject')") Rechazar
                button.btn.btn-success.btn-round.btn-sm(ng-click="poCtrl.sendOperation('approve')") Aprobar