include /views/mixins/buttons

div.content-panel.tranfers(ng-if="lifeCtrl.actualPage === 2")
    form(name="form" novalidate)
        .row
            .col-md-4.text-left(style="padding-bottom:20px;") 
                img(src="img/logos/mapfre.svg" style="width: 85px;height: 50px")
            .col-md-8(style="padding-bottom:20px;") 
                h4.text-left.tit
                    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ingresa los datos del Contratante.
        div(ng-if="lifeCtrl.personType === '1'")
            .row
                .col-md-12
                    .form-group.col-lg-5
                        .col-md-5   
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Nombre(s)
                        .col-md-7.text-left
                            input(type="text" id="nombreCliente" name="nombreCliente" ng-disabled="lifeCtrl.validatePerson" ng-change="lifeCtrl.activarCheckAseCon()" placeholder="Nombre(s)" ng-required="true" maxlength="50" ng-model="lifeCtrl.nombres" ng-keypress="lifeCtrl.charrepeatText($event,'nombreCliente');lifeCtrl.soloTextAndNum($event,true)").form-control.upperCaseInput.required
                    .form-group.col-lg-6.text-left
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Paterno
                        .col-md-7.text-left
                            input(type="text" id="apePaterno" name="apePaterno" ng-disabled="lifeCtrl.validatePerson" ng-change="lifeCtrl.activarCheckAseCon()" placeholder="Apellido Paterno" required maxlength="50" ng-model="lifeCtrl.apePaterno" ng-keypress="lifeCtrl.charrepeatText($event,'apePaterno');lifeCtrl.soloTextAndNum($event,true)").form-control.upperCaseInput.required
            .row
                .col-md-12
                    .form-group.col-lg-5
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Materno
                        .col-md-7.text-left
                            input(type="text" id="apeMaterno" name="apeMaterno" ng-disabled="lifeCtrl.validatePerson" ng-change="lifeCtrl.activarCheckAseCon()" placeholder="Apellido Materno" required maxlength="50" ng-model="lifeCtrl.apeMaterno" ng-keypress="lifeCtrl.charrepeatText($event,'apeMaterno');lifeCtrl.soloTextAndNum($event,true)").form-control.upperCaseInput.required
                    .form-group.col-lg-6.text-left
                        .col-md-5
                            .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Nacionalidad
                        .col-md-7.text-left
                            select(name="listPais"
                                ng-model="lifeCtrl.nacionalidad"
                                ng-options="x.text for x in lifeCtrl.ListPais track by x.id"
                                required).form-control.required
            .row
                .col-md-12
                    .form-group.col-lg-5(ng-if="lifeCtrl.numeroCliente != 9999 && lifeCtrl.titular")
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
                        .col-md-7.text-left
                            input(type="text" name="fechaNacimiento" id="fechaNacimiento" ng-model="lifeCtrl.fechaNacimiento" ng-required='true' DISABLED).form-control.required
                    .form-group.col-lg-5(ng-if="lifeCtrl.numeroCliente == 9999 || !lifeCtrl.titular")
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
                        .col-md-7.text-left
                            dates-range-picker(
                            date="lifeCtrl.fechaNacimiento"
                            placeholder="dd/mm/aaaa"
                            options='lifeCtrl.contractDatePickOp'
                            ng-required="true"
                            is-single="true"
                            on-change="lifeCtrl.activarCheckAseCon()" )
                    .form-group.col-lg-6.text-left
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") RFC
                        .col-md-7.text-left    
                                input(type="text" id="rfcUser" name="rfcUser" onkeyup="this.value = this.value.toUpperCase();"
                                        ng-model="lifeCtrl.fiscalIDNumber"
                                        ng-disabled="lifeCtrl.disabledRFC"
                                        ng-required="true"
                                        maxlength="13" minlength="10"
                                        ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((([A-Z]|[a-z]|[0-9]){3}))?$/"
                                        ng-keypress="lifeCtrl.forceKeyPressUppercase($event)"
                                        ng-change="lifeCtrl.activarCheckAseCon()" required).form-control.required.upperCaseInput
            .row
                .col-md-12
                    .form-group.col-lg-5
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") CURP
                        .col-md-7.text_left
                            input(type="text" id="CURP" name="CURP" placeholder="CURP" ng-model="lifeCtrl.CURP"
                                ng-disabled="lifeCtrl.validatePerson"
                                value=""
                                ng-required="true"
                                maxlength="18"
                                ng-change="lifeCtrl.activarCheckAseCon()"
                                ).form-control.upperCaseInput.required
                    .form-group.col-lg-6.text-left 
                        label.col-md-5.control-label
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") G&eacute;nero
                        .col-md-7
                            label.act-radio-custom
                                input( type="radio" name="sexo" value="1" ng-model="lifeCtrl.sexoCliente" ng-required="lifeCtrl.sexoCliente === ''")
                                span.css-label
                                | Masculino
                            label.act-radio-custom
                                input( type="radio" name="sexo" value="0" ng-model="lifeCtrl.sexoCliente" ng-required="lifeCtrl.sexoCliente === ''")
                                span.css-label
                                | Femenino
            .row
                .col-md-12
                    .form-group.col-lg-5
                        .col-md-5
                            p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") Teléfono
                        .col-md-7.text-left
                            input(type="tel" name="phoneContact" id="phoneContact" ng-model="lifeCtrl.phoneUser" ng-change="lifeCtrl.activarCheckAseCon()" minlength="10" maxlength="10" ng-keypress="lifeCtrl.charrepeat($event,lifeCtrl.phoneUser);lifeCtrl.soloNumero($event);lifeCtrl.numberSecuential($event,'phoneContact');" ng-required='true').form-control.required
                    .form-group.col-lg-6
                        .col-md-5
                            p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") Correo electrónico
                        .col-md-7.text-left
                            input(type="email" name="emailUser" placeholder="correo@mail.com" maxlength="50" ng-pattern="lifeCtrl.mailRegex"
                                ng-change="lifeCtrl.activarCheckAseCon(); lifeCtrl.validateActinverEmail(lifeCtrl.emailUser)" 
                                ng-model="lifeCtrl.emailUser" style="text-transform: uppercase;" required).form-control
            .row
                .col-md-12
                    .form-group.col-lg-5
                        .col-md-5
                            p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado Civil
                        .col-md-7.text-left
                            div(act-dropdown
                                ng-model="lifeCtrl.ListEstadoCivil"
                                name="ListEstadoCivil"
                                selected="lifeCtrl.cmd.dataLifeMarital" )
                            input( type='hidden'
                                name="estadoCivil"
                                ng-model='lifeCtrl.cmd.dataLifeMarital' )
        .row(ng-if="lifeCtrl.personType==='2'")
            .col-md-12
                .form-group.col-lg-5
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Razón Socal
                    .col-md-7.text-left
                        input(type="text" id="companyName" name="companyName" ng-disabled="lifeCtrl.validatePerson" placeholder="Razón Social" ng-required="true" maxlength="50" ng-model="lifeCtrl.nombreCliente" ng-keypress="lifeCtrl.charrepeatText($event,'companyName');lifeCtrl.soloTextAndNum($event,true)").form-control.upperCaseInput.required
                .form-group.col-lg-6.text-left
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") RFC
                    .col-md-7.text-left    
                            input(type="text" id="rfcUser" name="rfcUser" onkeyup="this.value = this.value.toUpperCase();"
                                    ng-model="lifeCtrl.fiscalIDNumber"
                                    ng-disabled="lifeCtrl.disabledRFC"
                                    ng-required="true"
                                    maxlength="13" minlength="10"
                                    ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((([A-Z]|[a-z]|[0-9]){3}))?$/"
                                    ng-keypress="lifeCtrl.forceKeyPressUppercase($event)").form-control.required.upperCaseInput
        .row(ng-if="lifeCtrl.personType==='2'" )
            .col-md-12
                .form-group.col-lg-5(ng-if="lifeCtrl.numeroCliente != 9999 && lifeCtrl.titular")
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Constitucion
                    .col-md-7.text-left
                       input(type="text" name="fechaConstitucion" id="fechaConstitucion" ng-model="lifeCtrl.fechaNacimiento" ng-required='true' DISABLED).form-control.required
                .form-group.col-lg-5(ng-if="lifeCtrl.numeroCliente == 9999 || !lifeCtrl.titular")
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Constitucion
                    .col-md-7.text-left
                        dates-range-picker(
                        date="lifeCtrl.fechaNacimiento"
                        placeholder="dd/mm/aaaa"
                        options='lifeCtrl.beneficiaryDatePickOp'
                        ng-required="true"
                        is-single="true" )
                        span.icon-calendar
                .form-group.col-lg-6.text-left
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Correo electrónico
                    .col-md-7.text-left
                        input(type="email" name="emailUser" placeholder="correo@mail.com" maxlength="50" style="text-transform: uppercase;"
                            ng-model="lifeCtrl.emailUser" ng-pattern="lifeCtrl.mailRegex" ng-change="lifeCtrl.validateActinverEmail(lifeCtrl.emailUser)"
                            required ).form-control
        .row(ng-if="lifeCtrl.personType==='2'")
            .col-md-12
                .form-group.col-lg-5
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Teléfono
                    .col-md-7.text-left
                        input(type="tel" name="phoneContact" id="phoneContact" ng-model="lifeCtrl.phoneUser" minlength="10" maxlength="10" ng-keypress="lifeCtrl.charrepeat($event,lifeCtrl.phoneUser);lifeCtrl.soloNumero($event);lifeCtrl.numberSecuential($event,'phoneContact');" ng-change="onValidateDuplicateTel(lifeCtrl.phoneUser, 'f')" ng-required='true').form-control.required
        .row
            .col-md-12(style="padding-bottom:20px;") 
                h4.text-center.tit
                    span Datos Fiscales.
        .row
            .col-md-12
                .form-group.col-lg-5
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado
                    .col-md-7.text-left    
                        select(name="listEntidades"
                            ng-model="lifeCtrl.cmd.dataLifeEntity"
                            ng-options="x.text for x in lifeCtrl.ListEntidades"
                            ng-change="lifeCtrl.changeMunicipality(false)"
                            required).form-control                
                .form-group.col-lg-6
                    .col-md-5
                        p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") Municipio
                    .col-md-7.text-left
                        select(name="listPoblaciones"
                            ng-model="lifeCtrl.cmd.dataLifeMunicipality"
                            ng-options="x.text for x in lifeCtrl.ListPoblaciones"
                            ng-change="lifeCtrl.changePostalCode(false)"
                            required).form-control                                                
        .row
            .col-md-12
                .form-group.col-lg-5
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Código Postal
                    .col-md-7.text-left
                        select(name="listCodPostal"
                            ng-model="lifeCtrl.cmd.dataLifePostalCode"
                            ng-options="x.text for x in lifeCtrl.ListPostalCodeLife"
                            required).form-control                                                
                .form-group.col-lg-6
                    .col-md-5
                        p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") País
                    .col-md-7.text-left    
                        select(name="listPais"
                            ng-model="lifeCtrl.cmd.dataLifeContry"
                            ng-options="x.text for x in lifeCtrl.ListPais"
                            required).form-control.required
        .row
            .col-md-12
                .form-group.col-lg-5
                    .col-lg-5
                        p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") Calle
                    .col-md-7.text-left
                        input(type="text" id="calleUser" ng-model="lifeCtrl.calleUser" ng-change="lifeCtrl.activarCheckAseCon()" minlength="3" maxlength="80" ng-keypress="lifeCtrl.charrepeatText($event,'calleUser');lifeCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput.required
                .form-group.col-lg-6
                    .col-md-5
                        p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Exterior
                    .col-md-7.text-left
                        input(type="text" ng-model="lifeCtrl.extUser" ng-change="lifeCtrl.activarCheckAseCon()"  required maxlength="10" ng-keypress="lifeCtrl.soloTextAndNum($event,true)" ).form-control.upperCaseInput.required
        .row
            .col-md-12
                .form-group.col-lg-5
                    .col-md-5
                        p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Interior
                    .col-md-7.text-left
                        input(type="text" ng-model="lifeCtrl.intUser" maxlength="10" ng-pattern="/^(0*[1-9][0-9]*?)$/" ng-keypress="lifeCtrl.soloTextAndNum($event,true)" ).form-control.upperCaseInput
                .form-group.col-lg-6
                    .col-md-5
                        p.text-right(style="font-size: 13px; font-weight: bold; padding-top:8px;") Colonia
                    .col-md-7.text-left
                        input(type="text" id="colonia" ng-model="lifeCtrl.colonia" minlength="3" ng-change="lifeCtrl.activarCheckAseCon()" maxlength="40"  ng-keypress="lifeCtrl.charrepeatText($event,'colonia');lifeCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput.required
        .row
            .col-md-12(style="padding-bottom:20px;") 
                h4.text-center.tit
                    span Datos del Asegurado.
        .row.text-center(ng-if="lifeCtrl.personType === '1'" style="padding-botom: 20px;")
            .form-group.col-sm-offset-2.col-sm-8
                span(style="font-size: 13px; font-weight: bold; padding-right: 10px;") El asegurado será el contratante
                input(name="question" id="checkContAse" type="checkbox" ng-model="lifeCtrl.isContratanteAsegurado" ng-click="lifeCtrl.AseContratante()")
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Nombre(s)
            .col-md-8
                input(type="text" id="nombreAsegurado" name="nombreAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="Nombre(s)"
                    ng-model="lifeCtrl.nombreAsegurado"
                    minlength="3" maxlength="80"
                    ng-keypress="lifeCtrl.charrepeatText($event,'nombres1'); lifeCtrl.soloText($event,true)"
                    required).form-control.upperCaseInput.required
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Paterno
            .col-md-8
                input(type="text" id="apePaternoAsegurado" name="apePaternoAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="Apellido Paterno"
                    ng-model="lifeCtrl.apePaternoAsegurado"
                    minlength="3" maxlength="80"
                    ng-keypress="lifeCtrl.charrepeatText($event,'apPaterno1'); lifeCtrl.soloText($event,true)"
                    required).form-control.upperCaseInput.required
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Materno
            .col-md-8
                input(type="text" id="apeMaternoAsegurado" name="apeMaternoAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="Apellido Materno"
                    ng-model="lifeCtrl.apeMaternoAsegurado"
                    minlength="3" maxlength="80"
                    ng-keypress="lifeCtrl.charrepeatText($event,'apMaterno1'); lifeCtrl.soloText($event,true)"
                    required).form-control.upperCaseInput.required
        .clearfix.visible-lg
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") G&eacute;nero
            .col-md-8
                label.act-radio-custom(for="masculino" style="font-size: 13px;")
                    input(type="radio" ng-model="lifeCtrl.generoAsegurado" name="generoAsegurado" id="masculino" value="1" ng-disabled="lifeCtrl.isContratanteAsegurado" ng-required="lifeCtrl.generoAsegurado === ''")
                    span.css-label 
                    | Masculino
                label.act-radio-custom(for="femenino" style="font-size: 13px;")
                    input(type="radio" ng-model="lifeCtrl.generoAsegurado" name="generoAsegurado" id="femenino" value="0" ng-disabled="lifeCtrl.isContratanteAsegurado" ng-required="lifeCtrl.generoAsegurado === ''")
                    span.css-label 
                    | Femenino
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado Civil
            .col-md-8
                select(name="insuredMaritalStatus"
                    ng-model="lifeCtrl.estadoCivilAsegurado"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    ng-options="x.text for x in lifeCtrl.ListEstadoCivil"
                    required).form-control 
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") RFC
            .col-md-8
                input(type="text" id="rfcAsegurado" name="rfcAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="ABCD123456AA1" onkeyup="this.value = this.value.toUpperCase();"
                    ng-model="lifeCtrl.rfcAsegurado"
                    maxlength="13" minlength="10"
                    ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((([A-Z]|[a-z]|[0-9]){3}))?$/"
                    required).form-control.required.upperCaseInput
        .clearfix.visible-sm.visible-lg
        .form-group.col-sm-6.col-lg-4(ng-if="lifeCtrl.isContratanteAsegurado && lifeCtrl.titular")
            .col-md-4
                p.text-right( style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
            .col-md-8.text-left
                input(type="text" name="fechaNacimientoAsegurado" id="fechaNacimientoAsegurado"  ng-change="lifeCtrl.calculaEdadAsegurado()"  ng-disabled="lifeCtrl.isContratanteAsegurado" ng-model="lifeCtrl.fechaNacimientoAsegurado"   ng-required='true' DISABLED).form-control.required
        .form-group.col-sm-6.col-lg-4(ng-if="!lifeCtrl.isContratanteAsegurado || !lifeCtrl.titular")
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
            .col-md-8.text-left
                dates-range-picker(
                    date="lifeCtrl.fechaNacimientoAsegurado"
                    placeholder="dd/mm/aaaa"
                    options='lifeCtrl.contractDatePickOp'
                    ng-required="true"
                    on-change="lifeCtrl.calculaEdadAsegurado()"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    is-single="true")
                span.icon-calendar
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Edad
            .col-md-8
                input(type="text" id="edadAsegurado" name="edadAsegurado" placeholder="Edad" ng-model="lifeCtrl.edadAsegurado"
                        minlength="1" maxlength="3"  DISABLED).form-control
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Teléfono
            .col-md-8
                input(type="tel" 
                    name="phoneAsegurado" id="phoneAsegurado"
                    ng-model="lifeCtrl.phoneAsegurado"
                    placeholder="Teléfono" 
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    minlength="10" maxlength="10"
                    numbers-only="numbers-only"
                    ng-keypress="lifeCtrl.charrepeat($event,lifeCtrl.phoneUser2);lifeCtrl.soloNumero($event);lifeCtrl.numberSecuential($event,'phoneContact2');"
                    required).form-control.required
        .clearfix
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Calle
            .col-md-8
                input(type="text" id="calleAsegurado" name="calleAsegurado" placeholder="Calle"
                    ng-model="lifeCtrl.calleAsegurado" minlength="3" maxlength="80" ng-disabled="lifeCtrl.isContratanteAsegurado"
                    ng-keypress="lifeCtrl.charrepeatText($event,'calleAsegurado'); lifeCtrl.soloTextAndNum($event,true)"
                    required).form-control.upperCaseInput.required
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Exterior
            .col-md-8
                input(type="text" ng-model="lifeCtrl.numeroExteriorAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="No. Exterior" maxlength="5" 
                    ng-keypress="lifeCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Colonia
            .col-md-8
                input(type="text" id="coloniaAsegurado" name="coloniaAsegurado" ng-disabled="lifeCtrl.isContratanteAsegurado" placeholder="Colonia"
                    ng-model="lifeCtrl.coloniaAsegurado" minlength="3" maxlength="40"
                    ng-keypress="lifeCtrl.charrepeatText($event,'coloniaAsegurado'); lifeCtrl.soloTextAndNum($event, true)"
                    required).form-control.upperCaseInput.required
        .clearfix.visible-lg
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado
            .col-md-8
                select(name="listEntidadesAsegurado"
                    ng-model="lifeCtrl.estadoAsegurado"
                    ng-options="x.text for x in lifeCtrl.ListEntidades"
                    ng-change="lifeCtrl.changeMunicipality(true)"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    required).form-control
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Municipio
            .col-md-8
                select(name="listPoblaciones"
                    ng-model="lifeCtrl.municipioAsegurado"
                    ng-options="x.text for x in lifeCtrl.ListPoblacionesAsegurado"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    ng-change="lifeCtrl.changePostalCode(true)"
                    required).form-control
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Código Postal
            .col-md-8
                select(name="ListCodPostalAsegurado"
                    ng-model="lifeCtrl.codigoPostalAsegurado"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    ng-options="x.text for x in lifeCtrl.ListCodPostalAsegurado"
                    required).form-control
        .clearfix.visible-lg
        .form-group.col-sm-6.col-lg-4
            label.col-md-4
                p(ng-class="lifeCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") País
            .col-md-8
                select(name="listPais"
                    ng-model="lifeCtrl.paisAsegurado"
                    ng-disabled="lifeCtrl.isContratanteAsegurado"
                    ng-options="x.text for x in lifeCtrl.ListPais"
                    required).form-control
        div.row.text-center
            .col-md-12
                button(class="btn-primary btn" ng-click="lifeCtrl.go2page(1)") REGRESAR
                +btnWithIcon('CONTINUAR', 'btn-primary btn-space', 'form.$invalid')(ngClick="lifeCtrl.go2page(3)")
