include /views/mixins/input
include /views/mixins/checkbox
include /views/mixins/text-area


.section-add-activity
    div.row.margin-0        
        div.col-xs-4.padding-left-0
            div
                label Medio para el contacto
                    span *
            .container-select
                div( act-dropdown ng-model="optionsDropdowm" selected="ngModel.activity.media" )

        div.col-xs-4.padding-left-0
            div.form-group.has-icon
                div(style="position:relative")
                    dates-range-picker(
                        date="ngModel.activity.date"
                        options='ngConfigdate'
                        label="Fecha de contacto" 
                        placeholder="dd/mm/aaaa"
                        ng-required="true"
                        is-single="true"
                    )
        div.col-xs-4.padding-left-0
            act-datetime( ng-model="ngModel.activity.time" title="Tiempo de actividad" ng-required="true")

    div.row.margin-0
        div.col-xs-8.padding-left-0
            +textArea( 'Notas', 'Notas', 'true', false )( ngModel="ngModel.activity.note")
        div.col-xs-4(style="padding-top:20px;")
            +checkbox( 'Agendar', 'ngModel.activity.agendar', 'act1', 1 )(
                tooltip = 'Informe detallado por contrato asociado al cliente cita en el Outlook del asesor.'
            )
            +checkbox( 'Notificar al prospecto', 'ngModel.activity.notify', 'act2', 2 )(
                tooltip = 'Informe detallado por contrato asociado al cliente cita en el Outlook del asesor.'
            )

    div.row.margin-0( ng-if="ngModel.activity.agendar")
        div.col-xs-4.padding-left-0
            +input( 'Asunto', 'phone', 'Asunto', true )( 
                model='ngModel.activity.affair'
                ngRequire= 'true'
            )
        div.col-xs-4.padding-left-0
            +input( 'Lugar', 'phone', 'Lugar', true)(
                model='ngModel.activity.place' 
                ngRequire= 'true'
            )
