include /views/mixins/input
include /views/mixins/buttons

div(ng-if="housesCtrl.stepForm.stepC" name="contratacion")
    form(name="form" novalidate)
        div.row.text-center
            .col-sm-3
                img(src="img/logos/mapfre.svg" style="width:170px; height:100px;")
            .col-sm-6
                .row        
                    h4.col-xs-6.text-right N&uacute;mero de cotizaci&oacute;n:
                    h4.col-xs-6.text-left {{housesCtrl.datosCotizacion.numeroCotizacion || housesCtrl.cotizacionSeleccionada.cotizacion}}
                .row
                    h4.col-xs-6.text-right Fecha de Inicio Vigencia:
                    h4.col-xs-6.text-left {{housesCtrl.insurancePolicyDate}}
                .row
                    h4.col-xs-6.text-right Fecha de Fin Vigencia:
                    h4.col-xs-6.text-left {{housesCtrl.policyMaturityDate}}
            .col-sm-3
                    h3.col-xs-6.text-right Prima Total:
                    h3.col-xs-6.text-left {{housesCtrl.primatotalImpresion || housesCtrl.cotizacionSeleccionada.prima | currency}} Anual
        div.row
            h2.col-xs-12.text-center.tit
                span(id="titleEmission1" lang="es" style="padding-bottom:10px;") Datos de Domicilio del Riesgo
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Tipo Calle
                .col-md-8
                    select(name="listStreetType"
                        ng-model="housesCtrl.cmd.emission.streetType.type"
                        ng-options="x.text for x in housesCtrl.listStreetType"
                        required).form-control                                    
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Calle
                .col-md-8
                    input(type="text" id="calle1" name="calle1" placeholder="Calle"
                        ng-model="housesCtrl.emission.riskStreet"
                        ng-keypress="housesCtrl.charrepeatTextTres($event,'calle1')"
                        minlength="3" maxlength="80"
                        alpha-numeric="alpha-numeric"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Exterior
                .col-md-8
                    input(type="text" ng-model="housesCtrl.emission.riskNumberExt" placeholder="No. Exterior" maxlength="10" alpha-numeric="alpha-numeric" required).form-control.upperCaseInput
            .clearfix.visible-lg
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Interior
                .col-md-8
                    input(type="text" ng-model="housesCtrl.emission.riskInterior" placeholder="No. Interior" maxlength="10" alpha-numeric="alpha-numeric" required).form-control.upperCaseInput
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Colonia
                .col-md-8
                    input(type="text" id="colonia1" name="colonia1" placeholder="Colonia"
                        ng-model="housesCtrl.emission.riskNeighborhood"
                        minlength="4" maxlength="40"
                        repeated-letter="repeated-letter"
                        alpha-numeric="alpha-numeric"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Pisos
                .col-md-8
                    input(type="text" id="pisos" name="pisos" placeholder="Pisos"
                        ng-model="housesCtrl.emission.floors"
                        numbers-only="numbers-only"
                        required).form-control.required
            .clearfix.visible-lg
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Sótanos
                .col-md-8
                    input(type="text" id="sotanos" name="sotanos" placeholder="Sotanos"
                        ng-model="housesCtrl.emission.basements"
                        numbers-only="numbers-only"
                        defaultValue="0" required).form-control.required
            .form-group.col-sm-6.col-lg-4
                .col-xs-4.text-right
                    input(type="checkbox" id="listSameAddress" ng-click="housesCtrl.changeSameAddress()" 
                        ng-model="housesCtrl.cmd.emission.sameAddress" style="margin-top:10px")
                .col-xs-8.text-left
                    p(style="font-size: 13px; font-weight: bold; padding-top:8px;") Misma dirección del Contratante
        div.row
            h2.col-xs-12.text-center.tit
                span(id="titleEmission3" lang="es" style="padding-bottom:10px;") Datos del Contratante                        
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emissionPersonType == 'M'")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Razón Social
                .col-md-8
                    input(type="text" id="nombres1M" name="nombres1" placeholder="Nombre"
                        ng-model="housesCtrl.emission.contract.name"
                        minlength="3" maxlength="80"
                        alpha-numeric="alpha-numeric"
                        required).form-control.upperCaseInput.required
            div(ng-if="housesCtrl.emissionPersonType == 'F'")
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Nombre(s)
                    .col-md-8
                        input(type="text" id="nombres1" name="nombres1" placeholder="Nombre(s)"
                            ng-model="housesCtrl.emission.contract.name"
                            minlength="3" maxlength="80"
                            ng-keypress="housesCtrl.charrepeatText($event,'nombres1'); housesCtrl.soloText($event,true)"
                            required).form-control.upperCaseInput.required
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Paterno
                    .col-md-8
                        input(type="text" id="apPaterno1" name="apPaterno1" placeholder="Apellido Paterno"
                            ng-model="housesCtrl.emission.contract.lastName"
                            minlength="3" maxlength="80"
                            ng-keypress="housesCtrl.charrepeatText($event,'apPaterno1'); housesCtrl.soloText($event,true)"
                            required).form-control.upperCaseInput.required
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Materno
                    .col-md-8
                        input(type="text" id="apMaterno1" name="apMaterno1" placeholder="Apellido Materno"
                            ng-model="housesCtrl.emission.contract.secondLastName"
                            minlength="3" maxlength="80"
                            ng-keypress="housesCtrl.charrepeatText($event,'apMaterno1'); housesCtrl.soloText($event,true)"
                            required).form-control.upperCaseInput.required
                .clearfix.visible-lg
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") RFC
                .col-md-8
                    input(type="text" id="rfcUser1" name="rfcUser1" placeholder="ABCD123456AA1" onkeyup="this.value = this.value.toUpperCase();"
                        ng-model="housesCtrl.emission.contract.fiscalIDNumber"
                        maxlength="13" minlength="10"
                        ng-disabled="housesCtrl.isClienteObt"
                        ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((([A-Z]|[a-z]|[0-9]){3}))?$/"
                        ng-keypress="housesCtrl.forceKeyPressUppercase($event)" required).form-control.required.upperCaseInput
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emissionPersonType == 'M' && !housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Constitución
                .col-md-8.text-left
                    dates-range-picker(
                        date="housesCtrl.emission.contract.birthdate"
                        placeholder="dd/mm/aaaa"
                        options='housesCtrl.optionsdpxPM'
                        ng-required="true"                        
                        is-single="true")
                    span.icon-calendar
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emissionPersonType == 'F' && !housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
                .col-md-8.text-left
                    dates-range-picker(
                        date="housesCtrl.emission.contract.birthdate"
                        placeholder="dd/mm/aaaa"
                        options='housesCtrl.optionsdpx'
                        ng-required="true"
                        is-single="true")
                    span.icon-calendar
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;" ng-if="housesCtrl.emissionPersonType == 'F'" ) Fecha de Nacimiento
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;" ng-if="housesCtrl.emissionPersonType == 'M'") Fecha de Constitución
                .col-md-8
                    input(type="text" 
                        ng-model="housesCtrl.emission.contract.birthdate"
                        ng-disabled="housesCtrl.isClienteObt"
                        required).form-control.required.upperCaseInput.disabled
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emissionPersonType == 'F'")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") G&eacute;nero
                .col-md-8
                    label.act-radio-custom(for="masculino" style="font-size: 13px;")
                        input(type="radio" name="sexo" id="masculino" value="1" ng-model="housesCtrl.emission.contract.gender")
                        span.css-label 
                        | Masculino
                    label.act-radio-custom(for="femenino" style="font-size: 13px;")
                        input(type="radio" name="sexo" id="femenino" value="2" ng-model="housesCtrl.emission.contract.gender")
                        span.css-label 
                        | Femenino
            .clearfix.visible-sm.visible-lg
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Correo electrónico
                .col-md-8.text-left
                    input(type="email" name="emailUser1" placeholder="correo@mail.com" required maxlength="50" ng-model="housesCtrl.emission.contract.email" style="text-transform: uppercase;").form-control
                    div(role='alert')
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Teléfono
                .col-md-8
                    input(type="tel" 
                        name="phoneContact1" 
                        id="phoneContact1"
                        ng-model="housesCtrl.emission.contract.phone"
                        placeholder="Teléfono" 
                        minlength="7" 
                        maxlength="10"
                        numbers-only="numbers-only"
                        ng-keypress="housesCtrl.charrepeat($event,housesCtrl.phoneUser2);housesCtrl.soloNumero($event);housesCtrl.numberSecuential($event,'phoneContact2');"
                        ng-change="onValidateDuplicateTel(housesCtrl.phoneUser1, 'f')"
                        required).form-control.required
            .clearfix
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Calle
                .col-md-8
                    input(type="text" id="calle3" name="calle3" placeholder="Calle"
                        ng-model="housesCtrl.emission.contract.street"
                        minlength="3" maxlength="80"
                        ng-keypress="housesCtrl.charrepeatText($event,'calle3'); housesCtrl.soloTextAndNum($event,true)"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Exterior
                .col-md-8
                    input(type="text" ng-model="housesCtrl.emission.contract.numberExt" placeholder="No. Exterior" maxlength="10" ng-keypress="housesCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Interior
                .col-md-8
                    input(type="text" ng-model="housesCtrl.emission.contract.numberInt" placeholder="No. Interior" maxlength="10" ng-keypress="housesCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput
            .clearfix.visible-lg
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Colonia
                .col-md-8
                    input(type="text" id="colonia3" name="colonia3" placeholder="Colonia"
                        ng-model="housesCtrl.emission.contract.neighboarhood"
                        minlength="3" maxlength="40"
                        ng-keypress="housesCtrl.charrepeatText($event,'colonia3'); housesCtrl.soloTextAndNum($event,true)"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4(ng-if="!housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado
                .col-md-8
                    select(name="ListEntityFiscal"
                        ng-model="housesCtrl.cmd.emission.contract.stateContractor.type"
                        ng-options="x.text for x in housesCtrl.ListEntityFederativeHouse"
                        ng-change="housesCtrl.getCatalogEntity(housesCtrl.cmd.emission.contract.stateContractor.type, 'contractor')" 
                        required).form-control
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado 
                .col-md-8
                    input(type="text"
                        ng-model="housesCtrl.cmd.emission.contract.stateContractor.type.text"
                        minlength="3" maxlength="80"
                        required disabled).form-control.upperCaseInput.required.disabled
            .form-group.col-sm-6.col-lg-4(ng-if="!housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Delegación o municipio
                .col-md-8
                    select(name="ListEntityContractor"
                        ng-model="housesCtrl.cmd.emission.contract.entityContractor.type"
                        ng-options="x.text for x in housesCtrl.ListEntityContractor"
                        ng-change="housesCtrl.getCatalogCodes(housesCtrl.cmd.emission.contract.entityContractor.type, 'contractor')"
                        required).form-control
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Delegación o municipio 
                .col-md-8
                    input(type="text"
                        ng-model="housesCtrl.cmd.emission.contract.entityContractor.type.text"
                        minlength="3" maxlength="80"
                        required disabled).form-control.upperCaseInput.required.disabled
            .clearfix.visible-lg
            .form-group.col-sm-6.col-lg-4(ng-if="!housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Código Postal
                .col-md-8
                    select(name="ListPCContractor"
                        ng-model="housesCtrl.cmd.emission.contract.pcContractor.type"
                        ng-options="x.text for x in housesCtrl.ListPCContractor" required).form-control
            .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.isClienteObt")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Código Postal 
                .col-md-8
                    input(type="text"
                        ng-model="housesCtrl.cmd.emission.contract.pcContractor.type.text"
                        minlength="3" maxlength="80"
                        required disabled).form-control.upperCaseInput.required.disabled
        div.row
            h2.col-xs-12.text-center.tit
                input(type='checkbox' ng-model="housesCtrl.checkBeneficiary" style="padding-right:10px;padding-bottom:10px;")
                span(id="titleEmission4" lang="es" style="padding-bottom:10px;") Beneficiario Preferente
            div(ng-if="housesCtrl.checkBeneficiary")
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Tipo
                    .col-md-8
                        label.radio-inline(style="padding-top:6px;")
                            input(type="radio" name="personType" value="F" ng-model="housesCtrl.emission.beneficiary.type")
                            p(style="font-size: 13px; font-weight: bold; padding-top:3px;") Fisica
                        label.radio-inline(style="padding-top:6px;")
                            input(type="radio" name="personType" value="M" ng-model="housesCtrl.emission.beneficiary.type")
                            p(style="font-size: 13px; font-weight: bold; padding-top:3px;") Moral
                .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emission.beneficiary.type === 'M'")
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Razón Social
                    .col-md-8
                        input(type="text" id="razonSocial" name="razonSocial" placeholder="Razón Social"
                        ng-model="housesCtrl.emission.beneficiary.social"
                            minlength="3" maxlength="80"
                            ng-keypress="housesCtrl.charrepeatText($event,'razonSocial'); housesCtrl.soloTextAndNum($event,true)"
                            required).form-control.upperCaseInput.required
                div(ng-if="housesCtrl.emission.beneficiary.type === 'F'")
                    .form-group.col-sm-6.col-lg-4
                        label.col-md-4
                            p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Nombre(s)
                        .col-md-8
                            input(type="text" id="nombresB1" name="nombres1" placeholder="Nombre(s)"
                                ng-model="housesCtrl.emission.beneficiary.name"
                                minlength="3" maxlength="80"
                                ng-keypress="housesCtrl.charrepeatText($event,'nombresB1'); housesCtrl.soloText($event,true)"
                                required).form-control.upperCaseInput.required
                    .clearfix.visible-sm.visible-md
                    .form-group.col-sm-6.col-lg-4
                        label.col-md-4
                            p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Paterno
                        .col-md-8
                            input(type="text" id="apPaternoB1" name="apPaterno1" placeholder="Apellido Paterno"
                                ng-model="housesCtrl.emission.beneficiary.lastName"
                                minlength="3" maxlength="80"
                                ng-keypress="housesCtrl.charrepeatText($event,'apPaternoB1'); housesCtrl.soloText($event,true)"
                                required).form-control.upperCaseInput.required
                    .clearfix.visible-lg
                    .form-group.col-sm-6.col-lg-4
                        label.col-md-4
                            p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Materno
                        .col-md-8
                            input(type="text" id="apMaternoB1" name="apMaterno1" placeholder="Apellido Materno"
                                ng-model="housesCtrl.emission.beneficiary.secondLastName"
                                minlength="3" maxlength="80"
                                ng-keypress="housesCtrl.charrepeatText($event,'apMaternoB1'); housesCtrl.soloText($event,true)"
                                required).form-control.upperCaseInput.required
                .clearfix.visible-sm.visible-md(ng-if="housesCtrl.emission.beneficiary.type === 'M'")
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") RFC
                    .col-md-8
                        input(type="text" id="rfcUser2" name="rfcUser2" placeholder="ABCD123456AA1" onkeyup="this.value = this.value.toUpperCase();"
                            ng-model="housesCtrl.emission.beneficiary.rfc"
                            maxlength="13" minlength="10"
                            ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((([A-Z]|[a-z]|[0-9]){3}))?$/"
                            ng-keypress="housesCtrl.forceKeyPressUppercase($event)" required).form-control.required.upperCaseInput        
                .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emission.beneficiary.type === 'F'")
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Nacimiento
                    .col-md-8
                        dates-range-picker(
                            date="housesCtrl.emission.beneficiary.dateF"
                            placeholder="dd/mm/aaaa"
                            options='housesCtrl.optionsdpx'
                            ng-required="true"
                            is-single="true")
                        span.icon-calendar
                .clearfix.visible-lg(ng-if="housesCtrl.emission.beneficiary.type === 'M'")
                .form-group.col-sm-6.col-lg-4(ng-if="housesCtrl.emission.beneficiary.type === 'M'")
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha de Constitución
                    .col-md-8
                        dates-range-picker(
                            date="housesCtrl.emission.beneficiary.dateM"
                            placeholder="dd/mm/aaaa"
                            options='housesCtrl.optionsdpxPM'
                            ng-required="true"
                            is-single="true")
                        span.icon-calendar                
                .clearfix.visible-sm
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Correo electrónico
                    .col-md-8.text-left
                        input(type="email" name="housesCtrl.emailUser2" placeholder="correo@mail.com" required maxlength="50" ng-model="housesCtrl.emission.beneficiary.email" style="text-transform: uppercase;").form-control
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Teléfono
                    .col-md-8
                        input(type="tel" 
                            name="phoneContact2" 
                            id="phoneContact2"
                            ng-model="housesCtrl.emission.beneficiary.phone"
                            placeholder="Teléfono" 
                            minlength="7" 
                            maxlength="10" 
                            ng-keypress="housesCtrl.charrepeat($event,housesCtrl.phoneUser2);housesCtrl.soloNumero($event);housesCtrl.numberSecuential($event,'phoneContact2');"
                            ng-change="onValidateDuplicateTel(housesCtrl.phoneUser2, 'f')"
                            required).form-control.required
                .clearfix
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Calle
                    .col-md-8
                        input(type="text" id="calle4" name="calle4" placeholder="Calle"
                            ng-model="housesCtrl.emission.beneficiary.street"
                            minlength="3" maxlength="80"
                            ng-keypress="housesCtrl.charrepeatText($event,'calle4'); housesCtrl.soloTextAndNum($event,true)"
                            required).form-control.upperCaseInput.required
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Exterior
                    .col-md-8
                        input(type="text" ng-model="housesCtrl.emission.beneficiary.numberExt" placeholder="No. Exterior" maxlength="10" ng-keypress="housesCtrl.soloTextAndNum($event,true)" required).form-control.upperCaseInput
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") No. Interior
                    .col-md-8
                        input(type="text" ng-model="housesCtrl.emission.beneficiary.numberInt" placeholder="No. Interior" maxlength="10" ng-keypress="housesCtrl.soloTextAndNum($event,true)").form-control.upperCaseInput
                .clearfix.visible-lg
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Colonia
                    .col-md-8
                        input(type="text" id="colonia4" name="colonia4" placeholder="Colonia"
                            ng-model="housesCtrl.emission.beneficiary.neighboarhood"
                            minlength="3" maxlength="40"
                            ng-keypress="housesCtrl.charrepeatText($event,'colonia4'); housesCtrl.soloTextAndNum($event,true)"
                            required).form-control.upperCaseInput.required
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Estado
                    .col-md-8
                        select(name="ListStateBeneficiary"
                        ng-model="housesCtrl.cmd.emission.beneficiary.stateBeneficiary.type"
                        ng-options="x.text for x in housesCtrl.ListEntityFederativeHouse"
                        ng-change="housesCtrl.getCatalogEntity(housesCtrl.cmd.emission.beneficiary.stateBeneficiary.type, 'beneficiary')"
                        required).form-control
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Delegación o municipio
                    .col-md-8
                        select(name="ListEntityBeneficiary"
                        ng-model="housesCtrl.cmd.emission.beneficiary.entityBeneficiary.type"
                        ng-options="x.text for x in housesCtrl.ListEntityBeneficiary"
                        ng-change="housesCtrl.getCatalogCodes(housesCtrl.cmd.emission.beneficiary.entityBeneficiary.type, 'beneficiary')"
                        required).form-control
                .clearfix.visible-lg
                .form-group.col-sm-6.col-lg-4
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Código Postal
                    .col-md-8
                        select(name="ListPCBeneficiary"
                        ng-model="housesCtrl.cmd.emission.beneficiary.pcBeneficiary.type"
                        ng-options="x.text for x in housesCtrl.ListPCBeneficiary" required).form-control          
        div.row
            h2.col-xs-12.text-center.tit
                span(id="titleEmission5" lang="es" style="padding-bottom:10px;") Registro de Cuenta para cargo del seguro
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Nombre(s)
                .col-md-8
                    input(type="text" id="nombres2" name="nombres2" placeholder="Nombre(s)"
                        ng-model="housesCtrl.emission.payment.name"
                        minlength="3" maxlength="80"
                        ng-keypress="housesCtrl.charrepeatText($event,'nombres2'); housesCtrl.soloText($event,true)"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Paterno
                .col-md-8
                    input(type="text" id="apPaterno2" name="apPaterno2" placeholder="Apellido Paterno"
                        ng-model="housesCtrl.emission.payment.lastName"
                        minlength="3" maxlength="80"
                        ng-keypress="housesCtrl.charrepeatText($event,'apPaterno2'); housesCtrl.soloText($event,true)"
                        required).form-control.upperCaseInput.required
            .form-group.col-sm-6.col-lg-4
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Apellido Materno
                .col-md-8
                    input(type="text" id="apMaterno2" name="apMaterno2" placeholder="Apellido Materno"
                    ng-model="housesCtrl.emission.payment.secondLastName"
                        minlength="3" maxlength="80"
                        ng-keypress="housesCtrl.charrepeatText($event,'apMaterno2'); housesCtrl.soloText($event,true)"
                        required).form-control.upperCaseInput.required
            .clearfix.visible-lg
            .form-group.col-sm-6
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Selecciona forma de pago
                .col-md-8
                    select(name="ListPaymentType"
                        ng-model="housesCtrl.cmd.paymentType.type"
                        ng-options="x.text for x in housesCtrl.ListPaymentType"
                        required).form-control
            .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '2'")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Selecciona una opción
                .col-md-8
                    select(name="ListTypeCLABE"
                        ng-model="housesCtrl.cmd.ListTypeCLABE.type"
                        ng-options="x.text for x in housesCtrl.ListTypeCLABE"
                        required).form-control
            div(ng-if="housesCtrl.cmd.paymentType.type.id === '8' || housesCtrl.cmd.paymentType.type.id === '2'")
                .form-group.col-sm-6
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Selecciona el banco
                    .col-md-8
                        select(required
                        name="listBanks"
                        ng-model="housesCtrl.cmd.dataBanks.type"
                        ng-options="x.text for x in housesCtrl.ListBanks"
                        ng-change="housesCtrl.selectBankId()").form-control
                .clearfix.visible-md(ng-if="housesCtrl.cmd.ListTypeCLABE.type.id === '2' && housesCtrl.cmd.paymentType.type.id === '2'")
                .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '8' || (housesCtrl.cmd.ListTypeCLABE.type.id === '2' && housesCtrl.cmd.paymentType.type.id === '2')")
                    label.col-md-4
                        p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Número de tarjeta
                    .col-md-8.text-left
                        input(type="text" name="numTarjeta" maxlength="{{housesCtrl.accLen}}" minlength="{{housesCtrl.accLen}}" placeholder="Número de cuenta"
                            ng-model="housesCtrl.emission.payment.accountNumber" ng-blur="housesCtrl.selectTypeCard()"
                            ng-keypress="housesCtrl.soloNumero($event)" required).form-control.required
                        div(role='alert')
                            span.error(ng-show='form.numTarjeta.$error.maxlength || form.numTarjeta.$error.minlength')
                                | Se requieren {{housesCtrl.accLen}} dígitos        
            .clearfix.visible-md(ng-if="housesCtrl.cmd.paymentType.type.id === '2' && housesCtrl.cmd.ListTypeCLABE.type.id === '1'")
            .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '2' && housesCtrl.cmd.ListTypeCLABE.type.id === '1'")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") CLABE
                .col-md-8.text-left
                    input(type="text" ng-model="housesCtrl.emission.payment.clabe" placeholder="CLABE" required maxlength="18" numbers-only="numbers-only").form-control.required
            .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '8' || (housesCtrl.cmd.ListTypeCLABE.type.id === '2' && housesCtrl.cmd.paymentType.type.id === '2')")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Selecciona mes y año de vencimiento
                .col-md-8.text-left
                    .col-sm-5(style="padding-left:0px; padding-right:6px")
                        select(name="monthExpirationList"
                            ng-model="housesCtrl.comboMonthExpiration"
                            ng-options="x.text for x in housesCtrl.monthExpirationList"
                            required).form-control
                    .col-sm-2(style="padding:12px 0px 8px 23px;")
                        span /
                    .col-sm-5(style="padding-left:0px; padding-right:6px")
                        select(required
                            name="yearExpirationList"
                            ng-model="housesCtrl.comboYearExpiration"
                            ng-options="x.text for x in housesCtrl.yearExpirationList"
                        ).form-control
            .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '8' || (housesCtrl.cmd.ListTypeCLABE.type.id === '2' && housesCtrl.cmd.paymentType.type.id === '2')")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Código de seguridad
                .col-md-8.text-left
                    input(type="text" name="cvvField" ng-model="housesCtrl.emission.payment.cvv" placeholder="cvv" maxlength="{{housesCtrl.cvvLen}}" minlength="{{housesCtrl.cvvLen}}" ng-keypress="housesCtrl.soloNumero($event)" required).form-control.required
                    div(role='alert')
                        span.error(ng-show='form.cvvField.$error.maxlength || form.cvvField.$error.minlength')
                            | Se requieren {{housesCtrl.cvvLen}} dígitos
            .form-group.col-sm-6(ng-if="housesCtrl.cmd.paymentType.type.id === '8' || (housesCtrl.cmd.ListTypeCLABE.type.id === '2' && housesCtrl.cmd.paymentType.type.id === '2')")
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Tipo de tarjeta
                .col-md-8
                    select(name="ListCardType"
                        ng-model="housesCtrl.cmd.cardType.type"
                        ng-options="x.text for x in housesCtrl.ListCardType"
                        required).form-control
            .form-group.col-sm-6
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Correo electrónico
                .col-md-8.text-left
                    input(type="email" name="emailPago" ng-model="housesCtrl.emission.payment.email" placeholder="correo@mail.com" required maxlength="50"  style="text-transform: uppercase;").form-control
                    div(role='alert')
                        span.error(ng-show='form.emailPago.$error.email') Correo no válido
            .form-group.col-sm-6
                label.col-md-4
                    p(ng-class="housesCtrl.txtClass" style="font-size: 13px; font-weight: bold; padding-top:8px;") Fecha aproximada de pago
                .col-md-8.text-left
                    dates-range-picker(
                    date="housesCtrl.dateAprox"
                    placeholder="dd/mm/aaaa"
                    options='housesCtrl.datepicker_opts'
                    ng-required="true"
                    is-single="true")
                    //div(style="position:relative")
                            +inputDate2( "housesCtrl.emission.payment.dateAprox", 'date1' )(
                                datepickerOptions = "housesCtrl.datepicker_opts",
                                ngMouseOpen = 'popup1.opened')
        div.row.text-center                    
            button(class="btn-primary btn" ng-click="housesCtrl.pagina2()" ) REGRESAR
            +btnWithIcon( 'CONTINUAR', 'btn-primary btn-space', 'form.$invalid || !housesCtrl.cmd.emission.contract.stateContractor.type || !housesCtrl.cmd.emission.contract.entityContractor.type || !housesCtrl.cmd.emission.contract.pcContractor.type')(ngClick="housesCtrl.emisionSeguroHogar()")

